<%= form_with(model: post, local: true) do |form| %>
  <div class="form__field">
    <%= form.text_field :title, class: "form__control", required: true %>
    <span class="form__highlight"></span>
    <span class="form__bar"></span>
    <%= form.label :title, class: "form__label" %>
  </div>
  <div class="form__field">
    <%= form.text_area :body, class: "form__control", rows: 20, required: true %>
    <span class="form__highlight"></span>
    <span class="form__bar"></span>
    <%= form.label :body, class: "form__label" %>
  </div>
  <div class="form__actions">
    <%= form.submit class: "form__button form__button--primary" %>
    <%= link_to t("cancel.text"), root_path, class: "form__button form_button--secondary" %>
  </div>
<% end %>
