<div class="car <%= "car--border" if action_name == "index" %>">
  <h3 class="car__title">
    <span class="car__meta-created" title="<%= l(car.created_at, format: :long) %>"><%= t("time.ago", time: time_ago_in_words(car.created_at)) %></span>
    <%= car.title %>
  </h2>
  <div class="car__meta">
    <span class="car__meta-seller"><%= car.seller.name %></span>
    <span class="car__meta-divider"></span>
    <span class="car__meta-mobile-number"><%= car.seller.mobile_number %></span>
    <span class="car__meta-divider"></span>
    <span class="car__meta-email"><%= car.seller.email %></span>
  </div>
  <div class="car__description">
    <%= render partial: "cars/actions", locals: { object: car } %>
    <%= t("cars.description", condition: car.condition.titleize, price_with_currency: number_to_currency(car.price)) %>
  </div>
</div>
