<%= page_title %>

<center class="car car--border">
  <h1><%= t("site.welcome") %></h1>
  <i>
    <h2><%= t("site.recent_cars") %></h2>
    <h3><%= t("site.get_started") %></h3>
  </i>
  <h3><%= link_to(t("cars.list"), new_car_path, class: "form__button form__button--main form__button--xl") %></h3>
</center>

<%= render partial: "cars/filters" %>

<%= render @cars %>

<%= render partial: "cars/pagination", locals: { objects: @cars } %>
